<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">

</head>

    <main>
        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Nombre Real</th>
                <th>Edad</th>
                <th>Planeta de Origen</th>
                <th>Debilidad</th>
                <th>Poderes</th>
                <th>Aliados</th>
                <th>Enemigos</th>
                <th>Creador</th>
                <th>Acciones</th>
            </tr>
            <% superheroesFormateados.forEach( (heroe) => { %>
                <tr>
                    <td> <%= heroe.Nombre %></td>
                    <td> <%= heroe["Nombre Real"] %></td>
                    <td> <%= heroe.Edad %></td>
                    <td> <%= heroe["Planeta de Origen"] %></td>
                    <td> <%= heroe.Debilidad %></td>
                    <td> <%= heroe.Poderes %></td>
                    <td> <%= heroe.Aliados %></td>
                    <td> <%= heroe.Enemigos %></td>
                    <td> <%= heroe["Creador"] %></td>
                    <td> <button onclick="editar('<%= heroe.id %>')">Editar</button> | <button onclick="eliminar('<%= heroe.id %>')">Eliminar</button></td>
                </tr>
                
            <% }) %>
           
        </table>
        
    </main>
<script>
    function eliminar(id){
            if (!confirm("¿Estás seguro que querés eliminar este superhéroe? Esta acción no se puede deshacer.")) {
                return;
            }
            const requestOptions = {
                method:'delete',               
            }
            fetch('/heroes/eliminar/id/' + id, requestOptions)
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    if(data.result == 'success'){
                        window.location.href = '/heroes'
                    }
                    else{
                        alert("Surgio un Error al Eliminar el Super Heroe")
                    }
                })
        }
</script>
</body>
</html>